body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#sidebar {
  background: dimgray;
  color: #ffffff !important;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 50px;
  margin-top: 150px;
}
#sidebar h3 {
  margin-top: 0;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
#sidebar a {
  color: #ffffff;
}
#sidebar li {
  margin-bottom: 7px;
}

.buy_button {
  background: royalblue;
  color: #ffffff;
  padding: 3px 15px;
  border-radius: 6px;
  display: inline-block;
}

td {
  vertical-align: middle;
}

#footer {
  background: dimgray;
  color: #ffffff !important;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
}
#footer a {
  color: #ffffff;
}